# -----------------------------
# Virtual environment
# -----------------------------
.venv/
env/
venv/
# Variables
.env
# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# Local Folders
# -----------------------------
chatgpt-ocr/
old/
general_study/essays/
general_study/llm_prompts/
general_study/Notebooks/
# -----------------------------
# Scripts / Notebooks
# -----------------------------
resumo.ipynb
*.ipynb
# -----------------------------
# Compiled files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Testes
# -----------------------------
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# -----------------------------
# Configs / Builds
# -----------------------------
*.egg-info/
*.egg
build/
dist/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Files
# -----------------------------
general_study/host/ollama-client-log.txt
general_study/processors/file_processor_v3_log.txt
general_study/processors/file-proc-log.txt
general_study/processors/file-proc-v2-log.txt
general_study/study-txt-output/classification_results.txt
general_study/notenooks/classification_results.txt
