# -----------------------------
# Virtual environment
# -----------------------------
.venv/
env/
venv/
# Variables
.env
# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# Local Folders
# -----------------------------
chatgpt-ocr/
old/

# -----------------------------
# Scripts / Notebooks
# -----------------------------
resumo.ipynb
*.ipynb
# -----------------------------
# Compiled files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Testes
# -----------------------------
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# -----------------------------
# Configs / Builds
# -----------------------------
*.egg-info/
*.egg
build/
dist/

# -----------------------------
# OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Files
# -----------------------------
grade-rule-1.txt
grade-rule-2.txt
grade-rule-3.txt
grade-rule-4.txt
grade-rule-5.txt
classification-rules.txt